/* Fondo general */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: linear-gradient(135deg, #39B54A 0%, #ffffff 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor centrado */
.main-container {
    width: 100%;
    max-width: 450px;
    padding: 20px;
}

/* Caja del formulario */
.form-box {
    background: rgba(255, 255, 255, 0.97);
    border-radius: 25px;
    padding: 35px;
    box-shadow: 0 25px 60px rgba(0,0,0,0.25);
    backdrop-filter: blur(5px);
}

/* Título */
.title {
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 25px;
}

/* Botón verde */
.btn-primary {
    background: linear-gradient(135deg, #39B54A, #00A14B);
    border: none;
    padding: 10px;
    font-weight: 600;
    font-size: 1.1em;
    border-radius: 12px;
    transition: 0.3s;
}

.btn-primary:hover {
    transform: translateY(-3px);
    opacity: 0.9;
}

/* Botón volver */
.btn-secondary {
    background: #6c757d;
    border: none;
    padding: 10px;
    font-size: 1.05em;
    font-weight: 600;
    border-radius: 12px;
    transition: 0.3s;
}

.btn-secondary:hover {
    transform: translateY(-3px);
    opacity: 0.9;
}


