* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: #39B54A; 
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #333; 
}

.container {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 30px;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.3);
    padding: 50px 60px;
    max-width: 900px;
    width: 100%;
    text-align: left;
}

.container h1 {
    font-size: 3em;
    color: #00A14B;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 3px solid;
    padding-bottom: 15px;
    font-weight: bold;
}

.container h2 {
    font-size: 1.8em;
    color: #050404;
    padding-left: 15px;
    margin-top: 35px;
    margin-bottom: 15px;
}

.container p {
    font-size: 1.1em;
    line-height: 1.7;
    margin-bottom: 20px;
    color: #444;
}

.container ul, .container ol {
    list-style: none;
    padding: 0;
    margin-bottom: 25px;
}

.container li {
    border: 2px solid #f1efef;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 1.05em;
    line-height: 1.5;
}

.container li strong {
    color: #00A14B;
}

.btn {
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 15px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}


.btn-secondary{
    background-color: #7b7a7a; 
    color: white;
}


.btn-secondary:hover {
    background-color: #666666;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}



.btn-primary {
    background: #39B54A;
    color: white;
}

.button-group {
    text-align: center;
    margin-top: 40px;
}