<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../css/estiloPrueba.css">
</head>

<body>
    <div class="container">
        <h1 class="title">Menu de opciones:</h1>
        <br>
        <div class="buttons-container">
            <button class="btn btn-primary">Inicio de juego</button>
            <button class="btn btn-primary">Reglas</button>
            <button class="btn btn-primary">Configuraciones</button>
            <button class="btn btn-primary">Puntajes</button>
            <a href="../../backend/controllers/logout.php" class="btn btn-primary">Cerrar sesión</a>
        </div>
    </div>
</body>

</html>