<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reglas del Juego Millonarios</title>
    <link rel="stylesheet" href="../css/reglas.css">
</head>
<body>
    <div class="container">
        <h1> Reglas del Juego Millonarios</h1>

        <section>
            <h2>Objetivo del Juego</h2>
            <p>El objetivo principal es responder correctamente una serie de preguntas de conocimiento general para avanzar en la escala de puntuacion y clasificar en el ranking.</p>
        </section>

        <section>
            <h2>Mecánica del Juego</h2>
            <ul>
                <li><strong>Preguntas Multiples:</strong> El juego consiste en una secuencia de preguntas, cada una con cuatro opciones de respuesta, de las cuales solo una es la correcta.</li>
                <li><strong>Escala De Puntuacion:</strong> Cada pregunta tiene asociado una puntacion. Al responder correctamente, el jugador avanza a la siguiente pregunta.</li>
                <li><strong>Respuesta Incorrecta:</strong> Si el concursante da una respuesta incorrecta automaticamente termina el juego.</li>
                <li><strong>Retirada:</strong> El concursante puede decidir retirarse en cualquier momento.</li>
            </ul>
        </section>

        <section>
            <h2>Comodines</h2>
            <p>El concursante dispone de 4 comodines que puede utilizar en cualquier momento durante la partido que podra ser usado una unica vez :</p>
            <ul class="lifeline-list">
                <li><strong>50/50:</strong>Elimina dos opciones de respuesta incorrectas, dejando solo una incorrecta y la correcta.</li>
                <li><strong>Llamada:</strong>Permite consultar a un contacto durante un tiempo limitado.</li>
                <li><strong>cambio de pregunta:</strong>Permite al concursante reemplazar la pregunta actual por una nueva pregunta.</li>
                <li><strong>Respuesta Del Publico:</strong>Permite al concursante consultar a la audiencia para que vote por la opción que creen es la correcta.</li>

            </ul>
        </section>

                    <a href="./menu..php" class="btn btn-secondary">volver</a>
                    <button class="btn btn-primary">Inicio de juego</button>


        
    </div>
</body>
</html>